body {
	background-color: #e0ecff;
}

.header {
	border-bottom: double 3px;
	text-align: center;
        max-width: 70%;
        margin: auto;
}

.other {
        text-align: center;
        max-width: 70%;
        margin: auto;
}
